.btn {
  appearance: none;
  border: 0;
  padding: 0.7rem 2rem;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  outline: none;
  box-shadow: 0 0 0 1px transparent;
  font-weight: 600;
  min-width: 4rem;
  color: currentColor;
}

.btn svg {
  max-width: 20px;
}

/* .contained {
  color: currentColor;
} */

.leftMargin {
  margin-left: 0.5rem;
}
.rightMargin {
  margin-right: 0.5rem;
}

.primary {
  background-color: var(--primary-color-light);
}
.secondary {
  background-color: var(--secondary-color-dark);
}
.error {
  background-color: var(--error-color-main);
}
.success {
  background-color: var(--success-color-main);
}
.warnign {
  background-color: var(--warnign-color-main);
}
.transparent {
  background-color: transparent;
}

.rounded {
  border-radius: 100rem;
}
/* .btn:hover,
[open] > .btn {
  background-color: var(--primary-color-main);
}

.btn:focus,
[open] > .btn {
  box-shadow: 0 0 0 1px;
}

.btn:active,
.btn[aria-selected='true'] {
  background-color: var(--color-btn-primary-selected-bg);
}

.btn:disabled,
.btn[aria-disabled='true'] {
  background-color: var(--primary-background-dark);
  cursor: default;
}
 */
