.header {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 0.9rem;
}

/* Left Side Content section css */

.leftHeader {
  background-color: var(--primary-background-main);
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4em;
  padding-left: 10em;
}
.logo {
  flex: 1 0;
}
.list {
  display: flex;
  justify-content: flex-start;
  flex: 2 0;
}
.item:not(:first-child) {
  margin-left: 2em;
}
.item:last-child {
  margin-left: auto;
}
/* Right Side Content section css */

.rightHeader {
  background-color: var(--secondary-color-main);
  grid-column: 5 / 8;
  padding: 0 4em;
  padding-right: 10em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
